/*
 * Estilos reutilizables
 */
*{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

 .container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.row:before, .row:after{
	content: " ";
	display: table;
}

.row:after{
	clear: both;
}

[class*="col-"]{
	min-height: 7px;
	padding: 0px;
	float: left;
}
.col-4{
	/* (4/12)*100 */
	width: 33.333333%;
}

.img-responsive{
	max-width: 100%;
	width: 100%;
}
/*
hr{
	padding: 0;
	border: none;
	border-top: solid 5px;
	text-align: center;
	max-width: 250px;
	margin: 25px auto 30px;
}*/

#row-modal{
	background-color: rgba(92,94,144,0.85);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#row-modal .body-modal{
	width: 55%;
	margin: 0 auto;
	text-align: center;
	padding: 100px;
}

#row-modal .close{
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
}

#row-modal .close .fa{
	width: 60px;
	color: whitesmoke;
	font-size: 3em;
}

.hide{
	display: none;
}
.caja img{
	cursor: pointer;
}