/*
 * Estilos de tu proyecto
 */

 nav{

 }

 nav a{

 }

 .start-b{

 }

.portfolio{

}

h1{
	text-transform: uppercase;
}

.portfolio img{

}

.about{

}

.about-boo{

}

.about-boo p{

}

.about-boo button{

}

.contact{

}

.contact-me{

}

.datos{

}

.datos button{

}

.location-web-about{

}

.location-web-about .fa{

}

.theme{

}

footer{
	color: whitesmoke;
	background-color: orange;
	text-align: center;
}